.cards {
  margin-bottom: 130px;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 82px;
    justify-content: center;

    @media (max-width: 1120px) {
      flex-direction: column;
    }
  }

  &__card {
    padding-inline: 100px;
    flex-basis: 33%;
    text-align: center;
    position: relative;

    @media (max-width: 1120px) {
      flex-basis: 100%;
      padding-top: 80px;
      padding-inline: 0;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 100%;
      background-image: url('https://i.ibb.co/xscfgGB/right-line.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 23px 100%;

      @media (max-width: 1120px) {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 24px;
        width: 100% !important;
        background-size: 255px 24px;
        background-image: url("https://i.ibb.co/3F89Rfx/down-arrow.png");
        background-position: center center;
      }
    }

    @media (min-width: 1120px) {
      &:nth-child(3),
      &:nth-child(5) {
        &::after {
          display: none;
        }
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      flex-basis: 40%;
    }

    @media (min-width: 1120px) {
      &:nth-child(6) {
        flex-basis: 63%;
        padding-top: 60px;
  
        &::after {
          top: 0;
          left: 0;
          width: 100%;
          background-position: center center;
          height: 24px;
          background-image: url("https://i.ibb.co/3F89Rfx/down-arrow.png");
          background-size: contain;
        }
      } 
    }

    .section-description {
      margin-bottom: 70px;
    }

    p + p {
      margin-top: 20px;
    }

    .p {
      font-size: 19px;
      font-weight: 400;
      line-height: 1.7;
    }
  }

  &--simple-borders &__card {
    padding-inline: 95px;

    &::after {
      background-image: url('https://i.ibb.co/JnNg13T/divider.pngg');
      width: 5px;
      background-size: cover;
    }

    @media (max-width: 1120px) {
      padding-inline: 20px;
      
      &:after {
        background-image: url('https://i.ibb.co/wgR1n9N/divider.png');
        height: 5px;
        background-size: 268px 5px;
      }
    }
  }
}