.site-footer {
  padding-block: 115px 25px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;

    p {
      font-size: 18px;
    }
  }
}