.logos {
  color: var(--color-black);
  
  .container {
    padding-block: 183px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 63px;

    @media (max-width: 1024px) {
      padding-block: 100px;
      // gap: 70px;
    }
  }

  &__logo {
    flex-basis: 410px;
    height: 214px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: 0.2s;
      max-width: 100%;
    }

    img:hover {
      scale: 1.1;
    }
  }

  .flex-break {
    border: 1px solid transparent;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}