.logos {
  color: var(--color-black);

  .container {
    padding-block: 183px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 63px;

    @media (max-width: 1024px) {
      padding-block: 100px;
      // gap: 70px;
    }

    @media (max-width: 1690px) and (min-width: 1000px) {
      zoom: 80%;
    }

     @media (max-width: 1355px) and (min-width: 1000px) {
      zoom: 60%;
    }
  }


  &__logo {
    flex-basis: 410px;
    height: 214px;
    display: flex;
    align-items: center;
    justify-content: center;

    // @media only screen and (max-width: 1690px) and (min-width: 1400px) {
    //   flex-basis: 400px;
    // }

    // @media only screen and (max-width: 1645px) and (min-width: 1400px) {
    //   flex-basis: 380px;
    // }

    // @media only screen and (max-width: 1450px) and (min-width: 1400px) {
    //   flex-basis: 320px;
    // }

    img {
      transition: 0.2s;
      max-width: 100%;
    }

    img:hover {
      scale: 1.1;
    }
  }

  .flex-break {
    border: 1px solid transparent;

    // @media (max-width: 1690px) and (min-width: 1400px) {
    //   width: 40px;
    // }

    // @media only screen and (max-width: 1645px) and (min-width: 1400px) {
    //   flex-basis: 50px;
    // }

    @media (max-width: 1024px) {
      display: none;
    }
  }
}